@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

body {
  font-family: 'Poppins', sans-serif;
}
button{
  cursor: pointer;
}
.mycon {
  width: 90%;
  margin: 0 auto;
}
.active{
  
  background-color: rgba(0, 0, 0, 0.154);
}

/* .active::before{
  content:"";
  position: absolute ;
  width: 100%;
  height: 4px;
  background-color: #ffaa00;
  bottom: -12px;
} */

.del-btn{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}